body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  background-color: #00B7FF;
}

h1 {
  background-color: #1f6289;
  border-radius: 5px;
  text-align: center;
}
